*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  overflow: hidden;
  transition: color 0.5s, background-color 0.5s;
  background-color: #F8FAFB;
  line-height: 1.6;
  font-family: Airal, "Microsoft YaHei", "微软雅黑", Inter, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inline-code {
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  border-radius: 3px;
  padding: 0 6px;
  margin: 0 2px;
  background-color: #E7E9E8;
}

.common-link {
  color: #1890ff;
  text-decoration: none;
  transition: color 0.5s;
}

ul, ol {
  padding: 0;
  list-style: none;
}