@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
  align-content: center;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-space-around {
  display: flex;
  justify-content: space-around;
}

@mixin inline-flex-align-center {
  display: inline-flex;
  align-items: center;
  align-content: center;
}