$primaryColor: rgba(0,0,0,0.88);
$infoColor: #999;
$activeColor: #409EFF;

$borderColor: rgba(5, 5, 5, 0.06);
$commonBg: #fff;

$commonPadding: 16px;

$commonBorder: 1px solid $borderColor;
$commonBoxShadow: 0 4px 5px -4px rgba(0, 0, 0, .04);