@use "../../style/mixin.scss" as *;
@use "../../style/var.scss" as *;

.color-page {
  margin: $commonPadding 60px 0;
  padding: $commonPadding;
  background-color: $commonBg;

  .block-title, .result-title {
    font-size: 16px;
    line-height: 1.5;
  }

  .block-title {
    margin-bottom: 12px;
  }

  .color-item {
    @include flex-align-center;
  }

  .color-copy, .color-value {
    font-size: 14px;
    padding: 0 6px;
    border: 1px solid #d9d9d9;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .color-value {
    display: inline-block;
    margin-left: 8px;
    border-radius: 4px 0 0 4px;
  }

  .color-copy {
    display: inline-flex;
    align-items: center;
    border-radius: 0 4px 4px 0;
    padding: 0 6px;
    align-self: stretch;
    border-left: 0;
  }

  .color-copy:hover {
    cursor: pointer;
    background-color: #e6f4ff;
    color: #1677ff;
  }

  .result-title {
    margin: 12px 0;
  }

  .color-block {
    @include flex-column;
  }

  .format-result {
    display: flex;
  }

  .result-item {
    flex: 1;
    margin-right: 10px;
  }
}