@use "../../style/mixin.scss" as *;
@use "../../style/var.scss" as *;

.color-page {
  margin: $commonPadding 60px 0;
  // padding: $commonPadding;

  .setting-panel {
    background-color: #fff;
    margin-bottom: $commonPadding;
  }

  .block-title, .result-title {
    font-size: 14px;
    line-height: 1.5;
  }

  .block-title {
    margin-bottom: 12px;
  }

  .color-item {
    display: flex;
  }

  .color-copy, .color-value {
    font-size: 14px;
    padding: 0 6px;
    border: 1px solid #d9d9d9;
    background-color: rgba(0, 0, 0, 0.02);
  }

  .color-block, .setting-panel, .color-detail {
    box-shadow: $commonBoxShadow;
    background-color: $commonBg;
  }

  .color-value {
    margin-left: 8px;
    border-radius: 4px 0 0 4px;
    align-self: stretch;
  }

  .color-value, .color-copy {
    display: inline-flex;
    align-items: center;
  }

  .tip-wrapper {
    @include flex-align-center;
  }

  .decimal-input {
    margin-left: 6px;
  }

  .color-copy {
    border-radius: 0 4px 4px 0;
    padding: 0 6px;
    align-self: stretch;
    border-left: 0;
  }

  .color-copy:hover {
    cursor: pointer;
    background-color: #e6f4ff;
    color: #1677ff;
  }

  .result-title {
    font-size: 14px;
    margin: 12px 0;
  }

  .color-block, .color-detail {
    padding: $commonPadding;
  }

  .color-block {
    @include flex-column;
  }

  .format-result {
    display: flex;
  }

  .result-item {
    flex: 1;
    margin-right: 10px;
  }

  .split-line {
    height: 1px;
    background-color: $borderColor;
    margin-top: 16px;
  }

  .color-detail {
    font-size: 14px;
    margin-top: $commonPadding;
  }

  .detail-title {
    font-size: 14px;
    border-left: 4px solid #409EFF;
    padding-left: 8px;
    margin-bottom: 4px;
  }

  .detail-content {
    margin-top: 12px;
  }

  .detail-des {
    margin-left: $commonPadding;
    padding-left: $commonPadding;
    list-style: decimal;
  }
}