@use "../../style/var.scss" as *;
@use "../../style/mixin.scss" as *;

$footerPadding: 8px;

.base-footer {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 -4px 5px -4px rgba(0, 0, 0, 0.04);
  padding: $commonPadding;
  align-items: center;
  color: $infoColor;
  
  @include flex-column;

  .site-infos {
    margin-bottom: 6px;
    @include flex-align-center;
  }

  .info-item {
    line-height: 1;
    display: inline-block;
    margin-right: $footerPadding;
  }

  .info-item a {
    color: $infoColor;
    text-decoration: none;
  }

  .outer-link {
    cursor: pointer;
  }

  .info-item a:hover, .info-item:hover {
    color: $activeColor;
  }

  .info-item:nth-last-child(n + 2) {
    padding-right: $footerPadding;
    border-right: 1px solid $borderColor;
  }
}

@media screen and (min-height: 1440px) {
  .base-footer {
    position: relative;
    margin-top: 80px;
  }
}