@use "../../style/var.scss" as *;
@use "../../style/mixin.scss" as *;

$footerPadding: 8px;

.base-footer {
  position: fixed;
  font-size: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: $pageFooterHeight;
  background-color: #fff;
  box-shadow: 0 -4px 5px -4px rgba(0, 0, 0, 0.04);
  align-items: center;
  color: $infoColor;
  justify-content: center;
  @include flex-column;

  .site-infos {
    // margin-bottom: 6px;
    @include flex-align-center;
  }

  .right-info {
    margin-top: 6px;
    font-size: 12px;
    line-height: 1;
  }

  .info-item {
    line-height: 1;
    display: inline-block;
    margin-right: $footerPadding;
  }

  .info-item a {
    color: $infoColor;
    text-decoration: none;
    white-space: nowrap;
  }

  .outer-link {
    cursor: pointer;
  }

  .info-item a:hover,
  .info-item:hover {
    color: $activeColor;
  }

  .info-item:nth-last-child(n + 2) {
    padding-right: $footerPadding;
    border-right: 1px solid $borderColor;
  }
}